#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.folocontainer{
  margin: 0 auto;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

}
.item{  margin: 10px 10px;
  width: 410px;
  height:410px;
  box-sizing: border-box;
  /* -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-flex-direction: column;
  -webkit-flex-direction: column; */
  flex-direction: column;}

  body {
    font-family: sans-serif;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .progress {
    background-color: rgb(233, 236, 239);
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    height: 20px;
    overflow: hidden;
  }
  
  .progress-bar {
    background-color: #0d6efd;
    color: #fff;
    height: 100%;
    overflow: hidden;
    text-align: center;
  }
  