#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.folocontainer{
  margin: 0 auto;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

}
.item{  margin: 10px 10px;
  width: 410px;
  height:410px;
  box-sizing: border-box;
  /* -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-flex-direction: column;
  -webkit-flex-direction: column; */
  flex-direction: column;}

  body {
    font-family: sans-serif;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .progress {
    background-color: rgb(233, 236, 239);
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    height: 20px;
    overflow: hidden;
  }
  
  .progress-bar {
    background-color: #0d6efd;
    color: #fff;
    height: 100%;
    overflow: hidden;
    text-align: center;
  }
  /*Transfer list*/
  body {
    font-family: sans-serif;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .transfer-list {
    border: 1px solid #ccc;
    display: flex;
    max-width: 768px;
    margin: 0 auto;
  }
  
  .transfer-list__section {
    padding: 20px;
    flex-grow: 1;
  }
  
  .transfer-list__section__items {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  
  .transfer-list__section__items__item {
    display: flex;
    gap: 8px;
  }
  
  .transfer-list__actions {
    border-color: #ccc;
    border-width: 0 1px 0 1px;
    border-style: solid;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 12px;
  }
  /*temp convertore*/
  .temperature-converter {
    display: flex;
  }
  
  .temperature-converter
    .temperature-converter-column-top-row {
    align-items: center;
    display: flex;
    font-size: 18px;
    height: 24px;
    padding: 4px;
    text-align: center;
  }
  
  .temperature-converter
    .temperature-converter-column-bottom-row {
    padding: 4px;
    text-align: center;
  }
  